* {
  margin: auto;
  outline: 2px dotted green;
}
.box {
  width: 400px;

  border: 3px solid black;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: right;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.wrapper {
  width: 100%;
  text-align: center;
}
h4 {
  margin: 30px;
}
input {
  margin: 10px;
}
.errors {
  color: red;
}
.randstring {
  margin: 30px;
  font-size: 40px;
}

.boxOne {
  width: 100%;
  height: 74px;
  max-height: 74px;
  text-align: right;
  background-color: #ef9fb2;
  vertical-align: top;
}

.boxTwo {
  width: 100%;
  height: 24px;
  max-height: 24px;
  text-align: center;
  background-color: #db8871;
  vertical-align: top;
}

.boxThree {
  width: 100%;
  height: 137px;
  max-height: 137px;
  text-align: center;
  background-color: #d0c98e;
  padding-top: 5px;
}

.boxFour {
  width: 100%;
  height: 100%;
  min-height: 300px;
  text-align: center;
  background-color: #c7e5d6;
  vertical-align: top;
}

.hootButton {
  width: 260px;
  height: 35px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  vertical-align: center;
  padding-top: 18px;
  padding-bottom: 40px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #5ca4a7;
  border-left: solid;
  border-bottom: solid;
  border-color: #bab280;
  border-width: 6px;
}
form {
  display: inline-block;
}

.topText {
  font-size: 14px;
  color: black;
  display: inline-block;
}
.vcenter {
  vertical-align: top;
}
.pokersLog {
  width: 300px;
  height: 200px;
  overflow: scroll;
  outline: 2px solid black;
  margin-bottom: 10px;
}
.usersLog {
  width: 800px;
  height: 400px;
  overflow: scroll;
  outline: 2px solid black;
}
.pokerlogText{
  font-size: 12px;
}

.main_sidebar {
  display: inline-block;
  height: 350px;
  width: 350px;
  margin-left: 5px;
  background-color: #5da4a8;
  border-radius: 20px;
  vertical-align: top;
  margin-top: 15px;

}

.fav_user {
  height: 100px;
  width: 320px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #daf6e7;
  margin-top: 10px;


}

#fav_alias {
 margin: 10px;
 text-align: left;
 display: inline-block;

}