<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="topBar">
        <div class="topText"><div class="vcenter">Welcome, {{ name }}!</div></div>
        <form class="" action="{% url 'da_reset' %}" method="post">{% csrf_token %}
          <input type='submit' value='Logout'>
        </form>

      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Alias</th>
          <th>Email Address</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.alias }}</td>
          <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
  </div>
  </body>
</html>
