<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/da_styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="boxOne">
        <div class="topText"><div class="vcenter">Welcome, {{ user.first_name }}!</div></div>
        <form class="" action="{% url 'rl_reset' %}" method="post">{% csrf_token %}
          <input type='submit' value='Logout'>
        </form>
        <a href="{% url 'da_profile' user.id %}">Profile</a>
      </div>
      <div class="boxTwo">
      </div>
      <div class="boxThree">
        <div class="hootButton">HOOT</div>
      </div>
      <div class="boxFour">
        TEST CHANGE
        <p>Main page with chat button, questions sidebar, saved/favorited bar, </p>
      </div>
    </div>
  </body>
</html>
